<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-right: 120px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .container img {
    margin: 18px 18px;
  }

  

  .container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    background-color: rgb(189, 207, 247);
    
  }

  .booklist{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: rgb(189, 207, 247);
    border-style: solid;
    border-color:#185b9e ;
    
  }


  .content {
    width: 500px;
    background-color: rgb(189, 207, 247);
    border-style: solid;
    border-color: #185b9e;
    padding-bottom: 20px;
    padding-left: 20px;
  }


  img {
    width: 100px;
    height: 100px;
  }

  mat-card.card {
    width: 25%;
  }

  table {
    width: 400px;

  }
</style>


<div class="content">

  <mat-toolbar>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <div class="container">

          <img src="../assets/images/user.png" alt="" style="width:80px; height: 80px;">

          <div class="spacer"></div>
          <dl>
            <dt>Name:Divya chimane</dt>
            <dt>Age:21</dt>

          </dl>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>

          <img src="../assets/images/cancel.png" alt="" style="width: 30px; height: 30px;">


        </div>
      </div>
    </div>
  </mat-toolbar>



  <div class="booklist">
    <table>
      <tr>
        <td>
          <mat-card class="card">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">

                <ol>
                  <li>Marathi</li>
                  <br>
                  <li>English</li>
                  <br>
                  <li>Maths</li>
                </ol>

              </div>
            </div>
          </mat-card>
        </td>
        <td></td>
        <td></td>
        <td>
          <mat-card class="card">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">


                <img src="../assets/images/book.png">

                <h3>PASS</h3>
              </div>
            </div>
          </mat-card>
        </td>
      </tr>
    </table>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>